@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply py-6
  }

  p {
    @apply font-light
  }
}

@layer components {
  .header-1 {
    @apply
    text-2xl lg:text-3xl xl:text-5xl 2xl:text-5xl
    mb-6 lg:mb-6 xl:mb-10
    font-bold
  }
  .header-2 {
    @apply
    text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl
    font-semibold
    my-5
  }

  .header-3 {
    @apply
    text-lg lg:text-xl xl:text-2xl 2xl:text-3xl
    font-normal
    my-2
  }
  .description {
    @apply
    text-lg lg:text-lg xl:text-xl 2xl:text-2xl
  }
  .contactFormInput {
    @apply
    px-4 py-3 
    mt-px mb-4
    placeholder:text-left placeholder:text-gray-400 
    border border-gray-200 
    w-full
    text-left 
    transition-all 
    outline-none 
    lg:focus:scale-105 focus:mr-3 
    
    rounded-3xl
    shadow-lg
  }
}

@layer utilities {
  .text_content--maxWidth {
    @apply max-w-lg lg:max-w-none
  }
}

// breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

@mixin sm-screen {
  @media screen and (min-width: $sm) { @content }
};
    
@mixin md-screen {
  @media screen and (min-width: $md) { @content }
};

@mixin lg-screen {
  @media screen and (min-width: $lg) { @content }
};

@mixin xl-screen {
  @media screen and (min-width: $xl) { @content }
};

@mixin xxl-screen {
  @media screen and (min-width: $xxl) { @content }
};

/* GLOBAL STYLES */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.preview {
  $borderStyle: 2px solid;
  border: $borderStyle red;
  @include sm-screen {border: $borderStyle green}
  @include md-screen {border: $borderStyle orange}
  @include lg-screen {border: $borderStyle blue}
  @include xl-screen {border: $borderStyle black}
  @include xxl-screen {border: $borderStyle rgb(242,255,0)}
}