@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply py-6
  }

  p {
    @apply font-extralight
  }
}

@layer components {
  .header-1 {
    @apply
    text-2xl sm:text-2xl lg:text-3xl xl:text-4xl 2xl:text-6xl
    font-bold
    my-2.5
  }
}

// breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

@mixin sm-screen {
  @media screen and (min-width: $sm) { @content }
};

@mixin md-screen {
  @media screen and (min-width: $md) { @content }
};

@mixin lg-screen {
  @media screen and (min-width: $lg) { @content }
};

@mixin xl-screen {
  @media screen and (min-width: $xl) { @content }
};

@mixin xxl-screen {
  @media screen and (min-width: $xxl) { @content }
};

/* GLOBAL STYLES */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.preview {
  $borderStyle: 2px solid;
  border: $borderStyle red;
  @include sm-screen {border: $borderStyle green}
  @include md-screen {border: $borderStyle orange}
  @include lg-screen {border: $borderStyle blue}
  @include xl-screen {border: $borderStyle pink}
  @include xxl-screen {border: $borderStyle rgb(242,255,0)}
}